@font-face {
    font-family: "benton-sans-regular";
    src: url("font/BentonSans Regular Regular.otf");
}


html,
body,
header,
#intro {
    height: 100%;
    font-family: benton-sans-regular, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#intro {
    background: url("../img/Turner Field_N.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#other-header {
    height: 50px;
}

#regular-nav {
    background: url("../img/sec-header-pattern.jpg") repeat;
    color: white;
}

#off-page-footer {
    color: black;
}

#bling {
    float: right;
    margin: 6px 1% 6px 0;
    color: #fff;
    overflow: hidden;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-right: 0;
    display: grid;
    grid-gap: 5px 4px;
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
}

.bling {
    background: #82081b;
}

#bling li {
    line-height: .9;
    padding: 4px 1.25%;
    text-align: center;
    position: relative;
    height: 20px;
    font-size: em;
    word-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    display: inline-block;
}

li.bling_hof {
    grid-column-end: span 2;
    background-color: #ffdb1c;
    color: #000;
}

li.bling_all_star {
    background-color: #c9cbcd;
    color: #454041
}

.stats-pullout {
    overflow: hidden;
    text-align: center;
    width: 96%;
    margin: 5px auto 15px 0;
    padding-top: 6px;
}

.stats-pullout div {
    margin-left: 10px;
    float: left;
}

.p1 {
    border-left: 1px solid #d9dee2;
}

.stats-pullout div div {
    margin-left: 21px;
}

.stats-pullout div:first-child {
    margin-left: 5px;
    text-align: left;
}

.stats-pullout h4 {
    color: #900;
    margin: 2px 0;
    font-size: .785714286em;
    text-align: center;
}

#player-batting th,
#player-batting td {
    font-size: .75rem;
}

#player-search input {
    width: 275px;
}

#last-five-games {
    line-height: .25;
}

#last-five-games th,
#last-five-games td {
    font-size: 10px;
}

.pgbs {
    background: url('/img/mlb_bg_gradient.png') 0 0 repeat-x fixed;
}

#mc_container,
#mc {
    min-height: 225px;
    zoom: 1;
}

#standingsContainer {
    clear: both;
    margin: 7px 0 15px 9px;
    width: 970px;
    padding-left: 50px;
}

#standingsContainer .data-grid th.dg-team_short {
    background: none;
}

#standingsContainer .data_grid td {
    color: #000;
    padding: 6px 2px 13px 4px;
}

#standingsContainer .data_grid td.dg-team-short {
    font-size: 13px;
    white-space: nowrap;
}

#headline {
    font-family: 'adelle';
    font-size: 24px;
    padding: 10px 0 0 7px;
    text-transform: uppercase;
    width: 400px;
    margin: 0;
}

.standings-nav {
    border-radius: 4px;
    background: #f5f5f5;
    border: 1px #d7d7d7 solid;
    color: #292929;
    height: 40px;
    width: 970px;
}

#standing_year {
    float: left;
    padding: 5px 0 5px 5px;
    font-size: 16px;
}

.custom-select {
    width: 100px;
}

#sign-out {
    padding: .4rem 1.05rem;
}

#standingsAL,
#standingsNL {
    margin-bottom: 30px;
    padding-top: 10px;
    width: 970px;
}

#alHeadline,
#nlHeadline {
    height: 48px;
}

#standingsNL h1,
#standingsAL h1 {
    background: url(/img/regular_season_large.png) no-repeat top left;
    padding: 15px 919px;
    display: block;
    font-size: 14px;
    color: #888;
}

#standingsAL h1 {
    background-position: 0 0px;
}

#standingsNL h1 {
    background-position: 0 -48px;
}

.stats-table,
.data_grid {
    border-collapse: collapse;
    width: 100%;
}

.dg-team-short {
    width: 180px;
}

.dg-w,
.dg-l,
.dg-pct,
.dg-gb {
    width: 35px;
    text-align: center;
}

data-grid td.dg-last-ten,
data-grid td.dg-streak,
data-grid td.dg-home,
data-grid td.dg-away,
data-grid td.dg-last-game,
data-grid td.dg-next-game,
data-grid td.dg-gb {
    text-align: center;
}

.stats-table thead,
.data_grid thead {
    background: #f1f1f1;
    color: #666;
}

.stats-table th,
.data_grid th {
    padding: 6px 6px;
    font-weight: bold;
    font-size: .9em;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#standingsContainer .data_grid td.dg-team-short a {
    height: 26px;
    background: url(/img/logos.png) no-repeat top left;
    padding: 0 0 12px 43px;
}

#standingsContainer .data-grid td {
    color: #000;
    padding: 6px 2px 13px 4px;
}

.stats_table tbody td,
.data_grid tbody td {
    border-bottom: 1px solid #e7e7e7;
    font: 12px Arial,Helvetica,sans-serif;
}

.data_grid td {
    vertical-align: top;
    font-size: 1em;
}

a {
    color: #000066;
}

#stats-top-nav {
    border-radius: 4px;
    height: 35px;
    width: 970px;
    float: left;
    margin: 10px;
    background: linear-gradient(to right, rgba(84,84,84,1) 0%, rgba(89,89,89,1) 9%, rgba(77,77,77,1) 50%, rgba(66,66,66,1) 51%, rgba(51,51,51,1) 100%);
    color: #fff;
    font-size: 14px;
}

#stats-top-nav div {
    float: left;
    width: 100%;
    height: 35px;
}

#stats-top-nav ul.tabs {
    float: left;
    width: 100%;
}

#stats-top-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 35px;
}

#stats-top-nav ul li {
    display: inline;
    float: left;
    margin: 0px;
    padding: 3px 3px 0px 0px;
    height: 32px;
}

#stats-top-nav ul.tabs li a {
    position: relative;
    top: 2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    line-height: 2em;
    padding: 0px 10px;
    height: 35px;
    text-align: center;
}

#stats-top-nav ul.tabs li a.active {
    color: #fff;
    padding; 4px 11px 4px 11px;
    margin-left: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656464), color-stop(36%,#898989), color-stop(100%,#969696));
    border-radius: 4px;
}

.tab-parent {
    font-weight: bold;
}

.tab-child {
    font-weight: normal;
    font-size: 12px;
}

#widgets {
    float: left;
    width: 93%;
}

.onscreen {
    position: relative;
    width: 100%;
}

#widgets div {
    float: left;
}

.panels {
    width: 100%;
}

#sp_hitting-0 {
    padding-bottom: 5px;
}

#sp_hitting-1 {
    padding-top: 7px;
}

#widgets sp_hitting-1 {
    padding-top: 7px;
}

#widgets div.onscreen div.grouping {
    margin: 0px 2px 2px 10px;
    border-top: 1px solid #a7a7a7;
}

#widgets div.onscreen div.grouping:first-child {
    border: none;
}

#widgets div.onscreen div.grouping {
    margin: 0px 2px 2px 10px;
    padding-top: 0px;
}

fieldset.widget-select {
    border: none;
}

fieldset.widget-radio {
    float: left;
    border: none;
}

.panels fieldset {
    float: left;
    padding-right: 6px;
    padding-top: 0px;
}

#widgets select {
    -webkit-appearance: button;
    background-image: url(/img/downarrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    padding: 4px 15px 4px 4px;
    margin: 0px;
}

#widgets input {
    float: left;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.ui-buttonset {
    margin-right: 7px;
}

.ui-buttonset .ui-button {
    margin-left: 0px;
    margin-right: -.3em;
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em;
}

.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}

.ui-corner-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
.ui-widget {
    font-size: 12px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.ui-helper-hidden-accessible {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
}

.ui-state-default {
    border: 1px solid #d3d3d3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#FAFAFA));
    font-weight: normal;
    color: #555555;
}

.ui-state-active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#E9E9E9));
}

#stats-hitting-data-table_length label,
#stats-hitting-data-table_length option,
#stats-hitting-data-table_filter label,
#stats-hitting-data-table tr,
#stats-hitting-data-table td,
.dataTables_info,
.pagination li {
    font-size: .8em;
}

table th {
    font-size: .85em;
}

.silhouette {
    width: 130px;
    height: 130px;
}
/*

  Team logos

  */
#standingsContainer .data_grid td.dg-team-short a.NYA {
    background-position: 0 -990px;
}

#standingsContainer .data_grid td.dg-team-short a.BAL {
    background-position: 0 -165px;
}

#standingsContainer .data_grid td.dg-team-short a.BOS {
    background-position: 0 -220px;
}

#standingsContainer .data_grid td.dg-team-short a.CHA {
    background-position: 0 -495px;
}

#standingsContainer .data_grid td.dg-team-short a.CLE {
    background-position: 0 -385px;
}

#standingsContainer .data_grid td.dg-team-short a.DET {
    background-position: 0 -550px;
}

#standingsContainer .data_grid td.dg-team-short a.SLN {
    background-position: 0 -1375px;
}

#standingsContainer .data_grid td.dg-team-short a.CIN {
    background-position: 0 -330px;
}

#standingsContainer .data_grid td.dg-team-short a.CHN {
    background-position: 0 -275px;
}

#standingsContainer .data_grid td.dg-team-short a.PIT {
    background-position: 0 -1155px;
}

#standingsContainer .data_grid td.dg-team-short a.NRO {
    background-position: 0 -771px;
}

#standingsContainer .data_grid td.dg-team-short a.BSN {
    background-position: 0 -111px;
}

#standingsContainer .data_grid td.dg-team-short a.NY1 {
    background-position: 0 -1320px;
}

#standingsContainer .data_grid td.dg-team-short a.PHA {
    background-position: 0 -1045px;
}

#standingsContainer .data_grid td.dg-team-short a.PHI {
    background-position: 0 -1100px;
}

#standingsContainer .data_grid td.dg-team-short a.SLA {
    background-position: 0 -165px;
}

#standingsContainer .data_grid td.dg-team-short a.WS1 {
    background-position: 0 -1596px;
}
