/*  LAYOUT
======================================== */
body {
    padding-top: 70px;
}

.container {
    max-width: 1000px;
}



/*  JUMBOTRON
======================================== */
.jumbotron {
    text-align: center;
}