<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <title>Perfect Game Baseball</title>
</head>
<body>
<div class="main-content">
  <header th:replace="layout :: site-header" />
  <div class="banner">
    <h1 class="headline">Perfect Game Baseball</h1>
    <span class="tagline">Simulate games and/or seasons from baseball's past!</span>
  </div><!--/.banner-->
  <div class="content">
    <div class="div-placeholder"></div>
    <div class="row">
      <div class="primary col">
        <div class="box_inn">
          <h5>Simulate Games</h5>
          <p>Use Perfect Game Baseball's powerful game simulator to replay seasons one game at a time or
            all at once.</p>
        </div>
        <a class="button" href="simulate">Simulator</a>
      </div>

      <div class="secondary col">
        <div class="box_inn">
          <h5>View Player Stats</h5>
          <p>View historical stats from every player in Major League Baseball from the very beginning.
            Also view stats for any simulated leagues you have played.</p>
        </div>
        <a class="button" href="relievers">Players</a>
      </div>

      <div class="tertiary col">
        <div class="box_inn">
          <h5>View Team Stats</h5>
          <p>View historical stats for every team in Major League Baseball from the very beginning.
            Also view team stats for any simulated leagues you have played.</p>
        </div>
        <a class="button" href="stats">Stats</a>
      </div>
    </div>
    <div class="div-placeholder"></div>
  </div>
  <footer th:replace="layout :: site-footer" />
</div>
<!--  Scripts-->
<script src="js/jquery-ui.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</body>
</html>