<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <title>Perfect Game Baseball</title>
</head>
<body>
  <div class="container">
    <header th:replace="layout :: site-header" />
    <div class="jumbotron">
      <h2>Perfect Game Baseball</h2>
      <p class="lead">Welcome to Perfect Game Baseball.  A database-driven baseball simulator designed to relive
      some of baseball's greatest season's of the past.  Can you lead your team to a World Series title?</p>
    </div>

    <div class="row marketing">
      <div class="thumbnail col-xs-4">
        <img src="../img/ty-cobb.jpg">
        <div class="caption">
          <h3>Players</h3>
          <p>View biographical data, historical, and simulated stats for all players from baseball's beginning.</p>
          <p><a class="btn btn-lg btn-success" href="players">View Players</a></p>
        </div>
      </div>
      <div>
        <div class="thumbnail col-xs-4">
          <img src="../img/paul-molitor.jpg">
          <div class="caption">
            <h3>Teams</h3>
            <p>View historical information as well as simulated stats for teams throughout baseball's storied past.</p>
            <p><a class="btn btn-lg btn-success" href="Teams">View Teams</a></p>
          </div>
        </div>
        <div>
          <div class="thumbnail col-xs-4">
            <img src="../img/eddie-collins.jpg">
            <div class="caption">
              <h3>Simulate</h3>
              <p>The real fun of the site!  Create seasons to simulate and player one game at a time or a season at once.</p>
              <p><a class="btn btn-lg btn-success" href="Teams">Simulator</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="layout :: site-footer" />
  </div>

<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</body>
</html>