<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Perfect Game Baseball</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.structure.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.min.css}"/>
  <link th:href="@{/css/Dstyle.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<div class="main-content">
  <header class="main-header">
    <h1 class="name">
      <a href="/">Perfect Game Baseball</a>
    </h1>
    <ul class="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="players">Players</a></li>
      <li><a href="stats">Stats</a></li>
      <li><a href="simulate">Simulation</a></li>
    </ul>
  </header> <!-- Main Header -->

  <div class="banner">
    <!--            <img class="logo" src="img/perfectGameLogo2.jpg" alt="City">-->
    <h1 class="headline">Perfect Game Baseball</h1>
    <span class="tagline">Simulate games and/or seasons from baseball's past!</span>
  </div><!--/.banner-->
  <div class="content">
    <div class="div-placeholder"></div>
    <div class="row">
      <div class="primary col">
        <div class="box_inn">
          <h5>Simulate Games</h5>
          <p>Use Perfect Game Baseball's powerful game simulator to replay seasons one game at a time or
            all at once.</p>
        </div>
        <a class="button" href="simulate">Simulator</a>
      </div>

      <div class="secondary col">
        <div class="box_inn">
          <h5>View Player Stats</h5>
          <p>View historical stats from every player in Major League Baseball from the very beginning.
            Also view stats for any simulated leagues you have played.</p>
        </div>
        <a class="button" href="players">Players</a>
      </div>

      <div class="tertiary col">
        <div class="box_inn">
          <h5>View Team Stats</h5>
          <p>View historical stats for every team in Major League Baseball from the very beginning.
            Also view team stats for any simulated leagues you have played.</p>
        </div>
        <a class="button" href="stats">Stats</a>
      </div>
    </div>
    <div class="div-placeholder"></div>
  </div>
  <footer class="main-footer">
    <span>&copy;2017 Perfect Game Baseball Simulator</span>
  </footer>
</div>
<!--  Scripts-->
<script src="js/jquery-ui.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</body>
</html>