<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="site-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Database-driven baseball simulator">
    <meta name="author" content="Clint Riggan">
    <title>Perfect Game Baseball</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.structure.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dynatable.css}"/>
<!--    <link th:href="@{/css/Dstyle.css}" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link th:href="@{/perfectGameWeb.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" th:href="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<body>
    <header th:fragment="site-header" th:remove="tag" class="main-header">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="relievers">Players</a></li>
                    <li role="presentation"><a href="stats">Stats</a></li>
                    <li role="presentation"><a href="simulate">Simulation</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Perfect Game Baseball</h3>
        </div>
    </header> <!-- Main Header -->
    <h1>Welcome</h1>
    <p>Welcome to Perfect Game Baseball</p>

    <footer th:fragment="site-footer" class="main-footer">
        <span>&copy;2017 Perfect Game Baseball Simulator</span>
    </footer>
</body>
</html>