<!DOCTYPE html>
<html>
    <head>
        <title>Players</title>
        <link rel="stylesheet" href="css/Pstyle.css">
        <meta name="viewport" content="width=device-width">
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/Pstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body class="player">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Navbar Link</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="flex-container">
            <div class="player-bio-container">
                <div class="player-image">
                    <img src="img/85500ab5_davis.jpg" alt="Player Picture">
                </div>
                <div class="player-bio">
                    <p>Player Bio data</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                </div>
                <div class="player-awards">
                    <p>Player Awards</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                    <p>more space</p>
                </div>
            </div>
            <div class="player-stats-container">
                <div class="historical-batting">
                    <p>Player Historical Batting</p>
                    <ul>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                    </ul>

                </div>
                <div class="historical-fielding">
                    <p>Player Historical Fielding</p>
                    <ul>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                        <li>Stats</li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
                <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </div>
            </footer>
        </div>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>