<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Perfect Game Baseball</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="js/animsition/animsition.min.css">
  <link href="css/Pstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="animsition">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo animsition-link">Perfect Game Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav animsition-link">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse animsition-link"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center white-text text-darken-1">Perfect Game Baseball</h1>
          <div class="row center">
            <h5 class="header col s12 light">Relive seasons from baseball's past</h5>
          </div>
          <div class="row center">
            <a href="more" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="img/Wrigley Field.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
  <!--            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
              <h2 class="center brown-text"><img src="img/card.png" alt="Player Database" height="51" width="51.63"/></h2>
              <h5 class="center">Browse Player Files</h5>

              <p class="light">Browse our extensive database of player statistics from the 1880's to the present.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
  <!--            <h2 class="center brown-text"><i class="material-icons">group</i></h2>-->
                <h2 class="center brown-text"><img src="img/field.png" alt="Playing Field" height="51" width="51.63"/></h2>
              <h5 class="center">Season Simulator</h5>

              <p class="light">The Perfect Game Baseball simulator engine allows you to simulate games from the early 1900's to the present.  See if you can manage great teams from the past the World Series or take mediocre teams to the top.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
  <!--            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
              <h2 class="center brown-text"><img src="img/bats.png" alt="Stats" height="51" width="51.63"/></h2>
              <h5 class="center">Stats!</h5>

              <p class="light">Browse an extensive database of player or team stats from our historical database or simulated seasons that you have played.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/Ebbets Field_N50bu.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/Turner Field_N.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/animsition/animsition.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/perfectGameApp.js"></script>
  </div>
  </body>
</html>
