<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>PGBS || Players</title>
</head>
<body class="pgbs">
<!--Main Navigation-->
<header th:replace="layout::site-header"/>
<!-- Material input -->
<!--<main class="mt-5">-->
<main class="page-wrapper">
    <div class="container">
        <section>
            <div class="card my-4">
                <!--Card image-->
                <div class="view overlay">
                    <img src="../img/background_field_edited.jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="row mx-0 mt-1">
                    <div class="col">
                        <img src="/img/anon.png" class="silhouette"/>
                    </div>
                    <div class="col-6">
                        <h3 th:text="${batterStats[0].nameFirst} + ' ' + ${batterStats[0].nameLast}"><strong>Pie Traynor</strong></h3>
                        <span><strong>Given Name: </strong></span><span th:text="${batterStats[0].nameGiven}">Pie Traynor</span><br/>
                        <span><strong>Position:</strong> Third Baseman</span><br/>
                        <span><strong>Bats:</strong> Right * <strong>Throws:</strong> Right</span><br/>
                        <span><strong>Born: </strong></span><span th:text="${batterStats[0].birthYear}">Born: November 11, 1898</span><br/>
                        <span><strong>Died: </strong></span><span th:text="${batterStats[0].deathYear}">Died: March 16, 1972</span>
                    </div>
                    <div class="col-4">
                        <ul id="bling">
                            <li class="bling_special bling_hof">Hall of Fame</li>
                            <li class="bling">MVP</li>
                            <li class="bling_special bling_all_star">2x All-Star</li>
                            <li class="bling">7x World Series</li>
                        </ul>
                    </div>
                </div>
    <!--        </section>
            <section class="mt-4">-->
                <div class="stats-pullout">
                    <div>
                        <div>
                            <h4><strong>SUMMARY</strong></h4>
                            <p><strong>Career</strong></p>
                        </div>
                    </div>
                    <div class="p1">
                        <div>
                            <h4><strong>WAR</strong></h4>
                            <p>134.1</p>
                        </div>
                        <div>
                            <h4><strong>AB</strong></h4>
                            <p>10195</p>
                        </div>
                        <div>
                            <h4><strong>R</strong></h4>
                            <p>1882</p>
                        </div>
                        <div>
                            <h4><strong>H</strong></h4>
                            <p>3514</p>
                        </div>
                        <div>
                            <h4><strong>BA</strong></h4>
                            <p>.345</p>
                        </div>
                    </div>
                    <div class="p1">
                        <div>
                            <h4><strong>HR</strong></h4>
                            <p>117</p>
                        </div>
                        <div>
                            <h4><strong>RBI</strong></h4>
                            <p>1531</p>
                        </div>
                        <div>
                            <h4><strong>SB</strong></h4>
                            <p>436</p>
                        </div>
                    </div>
                    <div class="p1">
                        <div>
                            <h4><strong>OBP</strong></h4>
                            <p>.428</p>
                        </div>
                        <div>
                            <h4><strong>SLG</strong></h4>
                            <p>.500</p>
                        </div>
                        <div>
                            <h4><strong>OPS</strong></h4>
                            <p>.928</p>
                        </div>
                        <div>
                            <h4><strong>OPS+</strong></h4>
                            <p>157</p>
                        </div>
                    </div>
                </div>
    <!--        </section>
            <section>-->
                <hr>
<!--                <div class="row mx-2">
                    <h4>Standard Batting</h4>
                    <button type="submit" class="btn btn-deep-orange mb-3 mt-0 ml-4">Simulated</button>
                </div>-->
                <div id="wrap">
                    <div class="container">
                        <h3>Standard Batting</h3>
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
                            <thead id="player-stat-heading">
                                <tr>
                                    <th>Year</th>
                                    <th>Team</th>
                                    <th>League</th>
                                    <th>Pos</th>
                                    <th>AB</th>
                                    <th>R</th>
                                    <th>H</th>
                                    <th>RBI</th>
                                    <th>2B</th>
                                    <th>3B</th>
                                    <th>HR</th>
                                    <th>SB</th>
                                    <th>CS</th>
                                    <th>AVG</th>
                                    <th>OBP</th>
                                    <th>OPS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="season : ${batterStats}">
                                    <td th:text="${season.batterStats.yearID}">1906</td>
                                    <td th:text="${season.teamID}">PHI</td>
                                    <td th:text="${season.lgID}">AL</td>
                                    <td>3B</td>
                                    <td th:text="${season.batterStats.sAtBats}">452</td>
                                    <td th:text="${season.batterStats.sRuns}">103</td>
                                    <td th:text="${season.batterStats.sHits}">167</td>
                                    <td th:text="${season.batterStats.sRbi}">98</td>
                                    <td th:text="${season.batterStats.sDoubles}">47</td>
                                    <td th:text="${season.batterStats.sTriples}">13</td>
                                    <td th:text="${season.batterStats.sHomeRuns}">8</td>
                                    <td th:text="${season.batterStats.sStolenBases}">42</td>
                                    <td th:text="${season.batterStats.sCaughtStealing}">13</td>
                                    <td>.332</td>
                                    <td>.412</td>
                                    <td>.983</td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>

                <!--Table-->
            </div>
        </section>
    </div>
</main>
    <footer class="page-footer font-small py-2">
        <div class="text-black text-center" id="off-page-footer">Perfect Game Baseball Simulator</div>
    </footer>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- PerfectGameHome JavaScript -->
    <script src="/js/perfectGameApp.js"></script>
    <script src="/js/perfectGameHome.js"></script>
    <script src="/js/players.js"></script>
    <!-- MDB core JavaScript -->
    <script src="/js/mdb.min.js"></script>
    <!-- DataTable scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>