<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>PGBS || Players</title>
</head>
<body class="pgbs">
<!--Main Navigation-->
<header th:replace="layout::site-header"/>
<!-- Material input -->
<!--<main class="mt-5">-->
<main class="page-wrapper">
    <div class="container">
        <section>
            <div class="card my-4">
                <!--Card image-->
                <div class="view overlay">
                    <img src="../img/background_field_edited.jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="row mx-0 mt-1">
                    <div class="col" style="text-align:center">
                        <!--<img src="/img/anon.png" class="silhouette"/>-->
                        <img th:src="@{'/img/' + ${batterStats[0].playerId} + '.jpg'}" class="silhouette">
                    </div>
                    <div class="col-6">
                        <h2 th:text="${batterStats[0].nameFirst} + ' ' + ${batterStats[0].nameLast}"><strong>Pie Traynor</strong></h2>
                        <span><strong>Given Name: </strong></span><span th:text="${batterStats[0].nameGiven}">Pie Traynor</span><br/>
                        <span><strong>Position:</strong> Third Baseman</span><br/>
                        <!-- The below line is currently broken when the player isn't a pitcher there is no pitchingArm
<!--                        <span><strong>Bats: </strong></span><span th:text="${batterStats[0].bats}"> Right</span> * <strong>Throws: </strong><span th:text="${pitcherStats[0].pitchingArm}"> Right</span><br/>-->
                        <span><strong>Bats: </strong></span><span th:text="${batterStats[0].bats}"> Right</span> * <strong>Throws: </strong><span> ?????</span><br/>
                        <span><strong>Born: </strong></span><span th:text="${batterStats[0].birthYear} + ' in ' + ${batterStats[0].birthCity} + ', ' + ${batterStats[0].birthState}">Born: November 11, 1898</span><br/>
                        <span><strong>Died: </strong></span><span th:text="${batterStats[0].deathYear} + ' in ' + ${batterStats[0].deathCity} + ', ' + ${batterStats[0].deathState}">Died: March 16, 1972</span>
                    </div>
                    <div class="col-4">
                        <ul id="bling">
                            <li class="bling_special bling_hof">Hall of Fame</li>
                            <li class="bling">MVP</li>
                            <li class="bling_special bling_all_star">2x All-Star</li>
                            <li class="bling">7x World Series</li>
                        </ul>
                    </div>
                </div>
    <!--        </section>
            <section class="mt-4">-->
                <div class="stats-pullout">
                    <div>
                        <div>
                            <h4><strong>SUMMARY</strong></h4>
                            <p><strong>Career</strong></p>
                        </div>
                    </div>
                    <div th:if="${isPitcher}">
                        <div class="p1">
                            <div>
                                <h4><strong>WAR</strong></h4>
                                <p>????</p>
                            </div>
                            <div>
                                <h4><strong>W</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumWins}">10195</p>
                            </div>
                            <div>
                                <h4><strong>L</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumLosses}">1882</p>
                            </div>
                            <div>
                                <h4><strong>ERA</strong></h4>
                                <p>???</p>
                            </div>
                        </div>
                        <div class="p1">
                            <div>
                                <h4><strong>G</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumGamesPlayed}">117</p>
                            </div>
                            <div>
                                <h4><strong>GS</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumGamesStarted}">1531</p>
                            </div>
                            <div>
                                <h4><strong>S</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumSaves}">436</p>
                            </div>
                        </div>
                        <div class="p1">
                            <div>
                                <h4><strong>IP</strong></h4>
                                <p th:text="${pitcherStats[0].pitcherStats.sumInningsPitchedOuts}">.428</p>
                            </div>
                            <div>
                                <h4><strong>SO</strong></h4>
                                <p  th:text="${pitcherStats[0].pitcherStats.sumStrikeOutsAllowed}">.500</p>
                            </div>
                            <div>
                                <h4><strong>WHIP</strong></h4>
                                <p>????</p>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${isPitcher}">
                        <div class="p1">
                            <div>
                                <h4><strong>WAR</strong></h4>
                                <p>????</p>
                            </div>
                            <div>
                                <h4><strong>AB</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumAtBats}">10195</p>
                            </div>
                            <div>
                                <h4><strong>R</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumRuns}">1882</p>
                            </div>
                            <div>
                                <h4><strong>H</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumHits}">3514</p>
                            </div>
                            <div>
                                <h4><strong>BA</strong></h4>
                                <p th:text="${#numbers.formatDecimal(batterStats[0].batterStats.sumBattingAverage, 0, 'COMMA', 3, 'POINT')}">.345</p>
                            </div>
                        </div>
                        <div class="p1">
                            <div>
                                <h4><strong>HR</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumHomeRuns}">117</p>
                            </div>
                            <div>
                                <h4><strong>RBI</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumRbi}">1531</p>
                            </div>
                            <div>
                                <h4><strong>SB</strong></h4>
                                <p th:text="${batterStats[0].batterStats.sumStolenBases}">436</p>
                            </div>
                        </div>
                        <div class="p1">
                            <div>
                                <h4><strong>OBP</strong></h4>
                                <p th:text="${#numbers.formatDecimal(batterStats[0].batterStats.sumOnBaseAverage, 0, 'COMMA', 3, 'POINT')}">.428</p>
                            </div>
                            <div>
                                <h4><strong>SLG</strong></h4>
                                <p th:text="${#numbers.formatDecimal(batterStats[0].batterStats.sumSluggingPercentage, 0, 'COMMA', 3, 'POINT')}">.500</p>
                            </div>
                            <div>
                                <h4><strong>OPS</strong></h4>
                                <p th:text="${#numbers.formatDecimal(batterStats[0].batterStats.sumOps, 0, 'COMMA', 3, 'POINT')}">.928</p>
                            </div>
                        </div>
                    </div>
                </div>
    <!--        </section>
            <section>-->
                <hr>
                <ul class="nav nav-tabs" id="playerTab" role="tablist">
                    <li class="nav-item" th:if="${isBatter}">
                        <a class="nav-link active" id="batting-tab" data-toggle="tab" href="#batting" role="tab" aria-controls="batting"
                           aria-selected="true">Batting</a>
                    </li>
                    <li class="nav-item" th:if="${isPitcher}">
                        <a class="nav-link" id="pitching-tab" data-toggle="tab" href="#pitching" role="tab" aria-controls="pitching"
                           aria-selected="false">Pitching</a>
                    </li>
                    <li class="nav-item" th:if="${isFielder}">
                        <a class="nav-link" id="fielding-tab" data-toggle="tab" href="#fielding" role="tab" aria-controls="fielding"
                           aria-selected="false">Fielding</a>
                    </li>
                </ul>
                <div id="wrap" class="tab-content" id="playerTabContent">
                    <div class="container tab-pane fade show active mb-" th:if="${isBatter}" id="player-tab-batting" role="tabpanel" aria-labelledby="batting-tab">
                        <h5 class="mt-2">Standard Batting</h5>
                        <table cellpadding="0" cellspacing="0" border="0" width="1080px" class="datatable table table-striped table-bordered">
                            <thead id="player-stat-heading">
                                <tr>
                                    <th>Year</th>
                                    <th>Team</th>
                                    <th>LG</th>
                                    <th data-toggle="tooltip" title="Games">G</th>
                                    <th data-toggle="tooltip" title="At Bats">AB</th>
                                    <th data-toggle="tooltip" title="Runs">R</th>
                                    <th data-toggle="tooltip" title="Hits">H</th>
                                    <th data-toggle="tooltip" title="Runs Batted In">RBI</th>
                                    <th data-toggle="tooltip" title="Doubles">2B</th>
                                    <th data-toggle="tooltip" title="Triples">3B</th>
                                    <th data-toggle="tooltip" title="Home Runs">HR</th>
                                    <th data-toggle="tooltip" title="Stolen Bases">SB</th>
                                    <th data-toggle="tooltip" title="Caught Stealing">CS</th>
                                    <th data-toggle="tooltip" title="Hits/At Bats">AVG</th>
                                    <th data-toggle="tooltip" title="(H+BB+HBP)/(AB+BB+HBP+SF)">OBP</th>
                                    <th data-toggle="tooltip" title="On-Base + Slugging Percentage">OPS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${isBatter}" th:each="season : ${batterStats}">
                                    <td th:text="${season.batterStats.yearID}">1906</td>
                                    <td th:text="${season.teamID}">PHI</td>
                                    <td th:text="${season.lgID}">AL</td>
                                    <td th:text="${season.batterStats.sGamesPlayed}">3B</td>
                                    <td th:text="${season.batterStats.sAtBats}">452</td>
                                    <td th:text="${season.batterStats.sRuns}">103</td>
                                    <td th:text="${season.batterStats.sHits}">167</td>
                                    <td th:text="${season.batterStats.sRbi}">98</td>
                                    <td th:text="${season.batterStats.sDoubles}">47</td>
                                    <td th:text="${season.batterStats.sTriples}">13</td>
                                    <td th:text="${season.batterStats.sHomeRuns}">8</td>
                                    <td th:text="${season.batterStats.sStolenBases}">42</td>
                                    <td th:text="${season.batterStats.sCaughtStealing}">13</td>
                                    <td th:text="${#numbers.formatDecimal(season.batterStats.battingAverage, 0, 'COMMA', 3, 'POINT')}">.332</td>
                                    <td th:text="${#numbers.formatDecimal(season.batterStats.onBasePercentage, 0, 'COMMA', 3, 'POINT')}">.412</td>
                                    <td th:text="${#numbers.formatDecimal(season.batterStats.onBasePlusSlugging, 0, 'COMMA', 3, 'POINT')}">.412</td>
                                </tr>
                        </table>
                    </div>
                    <div class="container tab-pane fade mb-3" th:if="${isFielder}" id="player-tab-fielding" role="tabpanel" aria-labelledby="fielding-tab">
                        <h5 class="mt-2">Standard Fielding</h5>
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
                            <thead id="fielder-stat-heading">
                            <tr>
                                <th>Year</th>
                                <th>Team</th>
                                <th>POS</th>
                                <th data-toggle="tooltip" title="Games Played">GP</th>
                                <th data-toggle="tooltip" title="Games Started">GS</th>
                                <th data-toggle="tooltip" title="Assists">A</th>
                                <th data-toggle="tooltip" title="Put Outs">PO</th>
                                <th data-toggle="tooltip" title="Errors">E</th>
                                <th data-toggle="tooltip" title="Runners Thrown Out (Catchers)">RTO</th>
                                <th data-toggle="tooltip" title="Runners Safe (Catchers)">RS</th>
                                <th data-toggle="tooltip" title="Assists + Put Outs / Assists + Put Outs + Errors">Field %</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="season : ${fielderStats}">
                                <td th:text="${season.yearID}">1906</td>
                                <td th:text="${season.teamID}">PHI</td>
                                <td th:text="${season.pos}">AL</td>
                                <td th:text="${season.fielderStats.sGamesPlayed}">452</td>
                                <td th:text="${season.fielderStats.sGamesStarted}">103</td>
                                <td th:text="${season.fielderStats.sAssists}">167</td>
                                <td th:text="${season.fielderStats.sPutOuts}">98</td>
                                <td th:text="${season.fielderStats.sErrors}">47</td>
                                <td th:text="${season.fielderStats.sRunnersThrownOut}">13</td>
                                <td th:text="${season.fielderStats.sRunnersSuccessful}">8</td>
                                <td th:text="${#numbers.formatDecimal(season.fielderStats.fieldingPercentage, 0, 'COMMA', 3, 'POINT')}">42</td>
                            </tr>
                        </table>
                    </div>
                    <div class="container tab-pane fade mb-3" th:if="${isPitcher}" id="player-tab-pitching" role="tabpanel" aria-labelledby="pitching-tab">
                        <h5 class="mt-2">Standard Pitching</h5>
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
                            <thead id="pitcher-stat-heading">
                            <tr>
                                <th>Year</th>
                                <th>Team</th>
                                <th>LG</th>
                                <th data-toggle="tooltip" title="Games">GP</th>
                                <th data-toggle="tooltip" title="Games Started">GS</th>
                                <th data-toggle="tooltip" title="Wins">W</th>
                                <th data-toggle="tooltip" title="Losses">L</th>
                                <th data-toggle="tooltip" title="Saves">S</th>
                                <th data-toggle="tooltip" title="Innings Pitched">IP</th>
                                <th data-toggle="tooltip" title="Hits Allowed">HA</th>
                                <th data-toggle="tooltip" title="Runs Allowed">R</th>
                                <th data-toggle="tooltip" title="Total Earned Runs Allowed">ER</th>
                                <th data-toggle="tooltip" title="Earned Runs Allowed Average">ERA</th>
                                <th data-toggle="tooltip" title="Walks Hits Allowed per 9 Innings">WHIP</th>
                                <th data-toggle="tooltip" title="Strikeouts per 9 Innings">K/9</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="season : ${pitcherStats}">
                                    <td th:text="${season.yearID}">1906</td>
                                    <td th:text="${season.teamID}">PHI</td>
                                    <td th:text="${season.lgID}">AL</td>
                                    <td th:text="${season.pitcherStats.sGamesPlayed}">452</td>
                                    <td th:text="${season.pitcherStats.sGamesStarted}">103</td>
                                    <td th:text="${season.pitcherStats.sWins}">167</td>
                                    <td th:text="${season.pitcherStats.sLosses}">98</td>
                                    <td th:text="${season.pitcherStats.sSaves}">47</td>
                                    <td th:text="${season.pitcherStats.sInningsPitchedOuts}">13</td>
                                    <td th:text="${season.pitcherStats.sHitsAllowed}">8</td>
                                    <td th:text="${season.pitcherStats.sRunsAllowed}">42</td>
                                    <td th:text="${season.pitcherStats.sEarnedRuns}">13</td>
                                    <td>.332</td>
                                    <td>.412</td>
                                    <td>7.5</td>
                                </tr>
                        </table>
                    </div>
                </div>

                <!--Table-->
            </div>
        </section>
    </div>
</main>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- PerfectGameHome JavaScript -->
    <script src="/js/perfectGameApp.js"></script>
    <script src="/js/perfectGameHome.js"></script>
    <script src="/js/players.js"></script>
    <!-- MDB core JavaScript -->
    <script src="/js/mdb.min.js"></script>
    <!-- DataTable scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>