<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title >PGBS || Players</title>
</head>

<body>
<header th:replace="layout :: site-header" class="main-header" />
    <h1 class="name">
        <a href="/">Perfect Game Baseball</a>
    </h1>
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="relievers">Players</a></li>
        <li><a href="stats">Stats</a></li>
        <li><a href="simulate">Simulation</a></li>
    </ul>
</header> <!-- Main Header -->
<div>
    <div>
        <div>
            <div th:each="player : ${players}">
                <h3 th:text="${player.nameGiven}">Clint Riggan</h3>
                <h4 th:text="${player.nameFirst}">Clint</h4>
                <h4 th:text="${player.nameLast}">Riggan</h4>
                <h4 th:text="${player.playerId}">crigga01</h4>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: site-footer" />
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</html>