<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>PGBS || Relievers</title>
</head>

<body>
<header th:replace="layout :: site-header" class="main-header" >
    <h1 class="name">
        <a href="/">Perfect Game Baseball</a>
    </h1>
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="relievers">Players</a></li>
        <li><a href="stats">Stats</a></li>
        <li><a href="simulate">Simulation</a></li>
    </ul>
</header> <!-- Main Header -->
<div id="meta">
    <div>
        <div>
            <div th:with="firstReliever=${reliever[0]}">
                <h3 th:text="${firstReliever.nameGiven}">Clint Riggan</h3>
                    <div th:each="hurler : ${reliever}">
                        <p class="reliever-info"><strong>Throws: </strong></p><p th:text="${hurler.hands}" class="reliever-info"></p>
                        <p class="reliever-info"><strong>Year: </strong></p><p class="reliever-info" th:text="${hurler.yearId}">Clint</p>
                        <p class="reliever-info"><strong>Team: </strong></p><p class="reliever-info"th:text="${hurler.teamId}">Riggan</p>
                        <p class="reliever-info"><strong>PlayerId: </strong></p><p class="reliever-info" th:text="${hurler.lgId}">crigga01</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: site-footer" />
</body>
<script src="js/jquery-ui.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</html>