<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>PGBS || Relievers</title>
</head>

<body>
    <div class="container">
        <header th:replace="layout :: site-header" class="main-header" >
        </header> <!-- Main Header -->
        <div>
            <table class="table table-condensed table-hover table-players" id="relievers-table">
                <tr>
                    <th>PlayerId</th>
                    <th>Name</th>
                    <th>Throws</th>
                    <th>Team</th>
                    <th>Year</th>
                </tr>
                <tr th:each="reliever : ${relievers}">
                    <td><a href="http://localhost:8080/relievers" th:href="@{http://localhost:8080/relievers/{playerId}(playerId=${reliever.playerId})}" th:text="${reliever.playerId}">PlayerId</a></td>
                    <td th:text="${reliever.nameGiven}">Name</td>
                    <td th:text="${reliever.hands}">Name</td>
                    <td th:text="${reliever.teamId}">Name</td>
                    <td th:text="${reliever.yearId}">Name</td>
                </tr>
            </table>
        </div>
        <footer th:replace="layout :: site-footer" />
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</html>