<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>PGBS || Schedule</title>
</head>
<body class="pgbs">
<!--Main Navigation-->
<header th:replace="layout::site-header"/>
<main class="page-wrapper">
    <div class="container">
        <section>
            <!--Card-->
            <div class="card my-4">
                <!--Card image-->
                <div class="view overlay">
                    <img src="../img/background_field_edited.jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card content-->
                <div id="mc_container">
                    <div id="mc">
                        <div id="calendar" class="currentYear">
                            <div class="mb-1" id="headline">SCHEDULE</div>
                            <div class="calendar-nav">
                                <select class="custom-select align-middle" id="simulated-years">
                                    <option th:each="year : ${years}" th:value="${year.yearID}" th:text="${year.yearID}"></option>
                                </select>
                            </div>
                            <div id="schedule_league" class="grouping onscreen">
                            <fieldset class="widget-radio ui-buttonset mt-3">
                                <input type="radio" name="schedule_league_code" value="'MLB'" id="schedule_league_code_mlb" checked="checked" class="ui-helper-hidden-accessible"/>
                                <label for="schedule_league_code_mlb" id="schedule_league_mlb" th:class="${currentLeague == 'MLB'} ? 'ui-state-active league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left' : 'league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left'" aria-pressed="true" role="button" aria-disabled="false">
                                    <span class="ui-button-text">MLB</span>
                                </label>
                                <input type="radio" name="schedule_league_code" value="'AL'" id="schedule_league_code_al" class="ui-helper-hidden-accessible"/>
                                <label for="schedule_league_code_al" aria-pressed="false" id="schedule_league_al" th:class="${currentLeague == 'AL'} ? 'ui-state-active league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left' : 'league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left'" aria-disabled="false">
                                    <span class="ui-button-text">AL</span>
                                </label>
                                <input type="radio" name="schedule_league_code" value="'NL'" id="schedule_league_code_nl" class="ui-helper-hidden-accessible"/>
                                <label for="schedule_league_code_nl" aria-pressed="false" id="schedule_league_nl" th:class="${currentLeague == 'NL'} ? 'ui-state-active league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left' : 'league-selector ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left'" role="button" aria-disabled="false">
                                    <span class="ui-button-text">NL</span>
                                </label>

                            </fieldset>
                        </div>
                            <div class="ui-widget bam-monthpicker">
                                <!--<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only bam-monthpicker-previous" role="button">
                                    <span class="ui-button-text">Previous month</span>
                                </button>
                                <button class="ui-button ui-widget ui-state-default ui-corner-all bam-monthpicker-toggle ui-button-text-only" role="button">
                                    <span class="ui-button-text display-month" th:text="${currentMonth}">APR</span>
                                </button>
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only bam-monthpicker-next" role="button">
                                    <span class="ui-button-text">Next month</span>
                                </button>-->
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                <ul class="pagination justify-content-center">
                                    <li th:class="${currentMonth == '4'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" class="page-link">APR</a>
                                    </li>
                                    <li th:class="${currentMonth == '5'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0" class="page-link">MAY</a>
                                    </li>
                                    <li th:class="${currentMonth == '6'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" class="page-link">JUN</a>
                                    </li>
                                    <li th:class="${currentMonth == '7'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="3" tabindex="0" class="page-link">JUL</a>
                                    </li>
                                    <li th:class="${currentMonth == '8'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="4" tabindex="0" class="page-link">AUG</a>
                                    </li>
                                    <li th:class="${currentMonth == '9'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="5" tabindex="0" class="page-link">SEP</a>
                                    </li>
                                    <li th:class="${currentMonth == '10'} ? 'paginate_button_schedule page-item active' : 'paginate_button_schedule page-item'">
                                        <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="6" tabindex="0" class="page-link">OCT</a>
                                    </li>
                                </ul>
                            </div>
                            <form name="scheduleGamesGroup">
                                <!-- Default inline 1-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input schedule-radio" id="simulatedRadio" name="scheduleSimulatedRadio" th:checked="${simulatedGames}">
                                    <label class="custom-control-label" for="simulatedRadio">Simulated</label>
                                </div>

                                <!-- Default inline 2-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input schedule-radio" id="availableRadio" name="scheduleAvailableRadio" th:checked="${availableGames}">
                                    <label class="custom-control-label" for="availableRadio">Available</label>
                                </div>
                                <!-- Default inline 3-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input schedule-radio" id="allRadio" name="scheduleAllRadio" th:checked="${displayAll}">
                                    <label class="custom-control-label" for="allRadio">All Games</label>
                                </div>
                            </form>
                            <div>
                                <hr/>
                            </div>

                            <div id="schedule" style="opacity: 1;">
                                <div>
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" id="scheduleTable">
                                        <thead>
                                        <tr>
                                            <th>Game</th>
                                            <th>Date</th>
                                            <th>Away</th>
                                            <th>Home</th>
                                            <th>Away Probable</th>
                                            <th>Home Probable</th>
                                            <th>Result</th>
                                            <th>Winning Pitcher</th>
                                            <th>Losing Pitcher</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="game : ${displaySchedule}" th:class="${game.homeLgId == 'AL'} ? 'schedule_data american' : 'schedule_data national'">
                                                <td class="schedule_data" th:text="${game.gameKey}">1</td>
                                                <td class="schedule_data" th:text="${game.gameMonth} + '-' + ${game.gameDay}">4-9</td>
                                                <td class="schedule_data" th:text="${game.visitingTeamId}">PHI</td>
                                                <td class="schedule_data" th:text="${game.homeTeamId}">BRO</td>
                                                <td class="schedule_data" th:text="${game.visitingStartingPitcherName}">Seaton</td>
                                                <td class="schedule_data" th:text="${game.homeStartingPitcherName}">Rucker</td>
                                                <td class="schedule_data" th:text="${game.visitingScore} + '-' + ${game.homeScore}">1-4</td>
                                                <td class="schedule_data" th:text="${game.winningPitcherName} + ' (' + ${game.winningPitcherWins} + '-' + ${game.winningPitcherLosses} + ')'">N Rucker (1-0)</td>
                                                <td class="schedule_data" th:text="${game.losingPitcherName} + ' (' + ${game.losingPitcherWins} + '-' + ${game.losingPitcherLosses} + ')'">T Seaton (0-1)</td>
                                                <!-- IF GAME IS COMPLETED -->
                                                <td th:if="${game.gameCompleted == 'Y'}"><a class="btn btn-success btn-small schedule_data" th:href="@{'box?gameKey=' + ${game.gameKey}}" role="button">BOX</a></td>
                                                <!-- IF GAME IS NOT COMPLETED -->
                                                <td th:unless="${game.gameCompleted == 'Y'}"><button type="submit" class="btn btn-default btn-small playButton schedule_data" data-toggle="modal" th:attr="data-gameKey=${game.gameKey}" data-target="#modalPlayGame">PLAY</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>

<div class="modal fade" id="modalPlayGame" tabindex="-1" role="dialog" aria-labelledby="modalPlayGame" aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header primary-color white-text">
                <h4 class="title">
                    <i class="fa fa-exclamation-circle"></i> Play Ball!</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" id="playGameModal">
                <!-- Material input name -->
                <div class="md-form form-sm">
                    <span>Game simulating....</span>
                </div>
                <div class="row justify-content-center">
                    <div class="text-center mt-4 mb-2" id="modalGameCompleted">
                        <span class="modalMessage"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>
<!--/.Card-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- PerfectGameHome JavaScript -->
<script src="/js/perfectGameApp.js"></script>
<script src="/js/perfectGameHome.js"></script>
<script src="/js/schedule.js"></script>
<!-- DataTable scripts -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>