<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>PGBS || Schedule</title>
</head>
<body class="pgbs">
<!--Main Navigation-->
<header th:replace="layout::site-header"/>
<main class="page-wrapper">
    <div class="container">
        <section>
            <!--Card-->
            <div class="card my-4">
                <!--Card image-->
                <div class="view overlay">
                    <img src="../img/background_field_edited.jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card content-->
                <div id="mc_container">
                    <div id="mc">
                        <div id="calendar" class="currentYear">
                            <div class="mb-1" id="headline">SCHEDULE</div>
                            <div class="calendar-nav">
                                <select class="custom-select align-middle" id="simulated-years">

                                </select>
                            </div>
                            <div class="ui-widget bam-monthpicker">
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only bam-monthpicker-previous" role="button">
                                    <span class="ui-button-text">Previous month</span>
                                </button>
                                <button class="ui-button ui-widget ui-state-default ui-corner-all bam-monthpicker-toggle ui-button-text-only" role="button">
                                    <span class="ui-button-text">April</span>
                                </button>
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only bam-monthpicker-next" role="button">
                                    <span class="ui-button-text">Next month</span>
                                </button>
                            </div>
                            <div id="schedule" style="opacity: 1;">
                                <div id="scheduleTable">
                                    <table cellspacing="0" class="schedule_table data_grid">
                                        <col class="dg-date"/>
                                        <col class="dg-away"/>
                                        <col class="dg-home"/>
                                        <col class="dg-away-probable"/>
                                        <col class="dg-home-probable"/>
                                        <col class="dg-result"/>
                                        <col class="dg-winning-pitcher"/>
                                        <col class="dg-losing-pitcher"/>
                                        <col class="dg-play-box"/>
                                        <thead>
                                        <tr>
                                            <th tabindex="0" index="0" class="dg-date">Date</th>
                                            <th tabindex="0" index="1" class="dg-away centered">Away</th>
                                            <th tabindex="0" index="2" class="dg-home centered">Home</th>
                                            <th tabindex="0" index="3" class="dg-away-probable centered">Away Probable</th>
                                            <th tabindex="0" index="4" class="dg-home-probable centered">Home Probable</th>
                                            <th tabindex="0" index="5" class="dg-result centered">Result</th>
                                            <th tabindex="0" index="6" class="dg-winning-pitcher centered">Winning Pitcher</th>
                                            <th tabindex="0" index="7" class="dg-losing-pitcher centered">Losing Pitcher</th>
                                            <th tabindes="0" index="8" class="dg-play-box"></th>
                                        </tr>
                                        </thead>
                                        <tbody tabindex="-1" id="scheduleTableBody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>

<div class="modal fade" id="modalPlayGame" tabindex="-1" role="dialog" aria-labelledby="modalPlayGame" aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header primary-color white-text">
                <h4 class="title">
                    <i class="fa fa-exclamation-circle"></i> Play Ball!</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" id="playGameModal">
                <!-- Material input name -->
                <div class="md-form form-sm">
                    <span>Game simulating....</span>
                </div>
                <div class="row justify-content-center">
                    <div class="text-center mt-4 mb-2" id="modalGameCompleted">

                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>
<!--/.Card-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!-- MDB core JavaScript -->
<script src="/js/mdb.min.js"></script>
<!-- PerfectGameHome JavaScript -->
<script src="/js/perfectGameApp.js"></script>
<script src="/js/perfectGameHome.js"></script>
<script src="/js/standings.js"></script>
<script src="/js/schedule.js"></script>
</body>

</html>