<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>PGBS || Standings</title>
</head>
<body class="pgbs">
<!--Main Navigation-->
<header th:replace="layout::site-header"/>
<main class="page-wrapper">
    <div class="container">
        <section>
            <!--Card-->
            <div class="card my-4">
                <!--Card image-->
                <div class="view overlay">
                    <img src="../img/background_field_edited.jpg" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card content-->
                <div id="mc_container">
                    <div id="mc">
                        <div id="standingsContainer" class="currentYear">
                            <div class="mb-1" id="headline">STANDINGS</div>
                            <div class="standings-nav">
                                <select class="custom-select align-middle" id="simulated-years">

                                </select>
                                <!--                                    <ul class="tabs newTabs">
                                                                        <li class="topnav_regular"><a href="?ymd=20180330" class="active" style="cursor: pointer;">Regular Season</a></li>
                                                                        <li class="topnav_wildcard" style="display: none;"><a href="/mlb/standings/wildcard.jsp?ymd=20180330" alt="Wild Card" title="Wild Card">Wild Card</a></li>
                                                                        <li class="topnav_probs" style="display: none;"><a href="/mlb/standings/probability.jsp?ymd=20180330" alt="Postseason Projections" title="Postseason Projections">Postseason Projections</a></li>
                                                                        &lt;!&ndash;<li class="topnav_interactivestandings"><a href='/mlb/standings/interactive_standings.jsp' alt='Interactive Standings' title='Interactive Standings'>Interactive Standings</a></li>&ndash;&gt;
                                                                        <li class="topnav_postseasonpicture" style="display: none;"><a href="/mlb/standings/postseason-picture/">Postseason Picture »</a></li>
                                                                        <li class="topnav_spring"><a href="/mlb/standings/exhibition.jsp?ymd=20180330" alt="Exhibition" title="Exhibition">Spring Training</a></li>
                                                                    </ul>-->
                            </div>
                            <div id="standingsAL" style="opacity: 1;">
                                <div id="alHeadline">
                                    <h1>&nbsp;</h1>
                                </div>
                                <div id="standingsTableAL" class="homeSpriteBG">
                                    <table cellspacing="0" class="stats_table data_grid">
                                        <col class="dg-team-short"/>
                                        <col class="dg-w"/>
                                        <col class="dg-l"/>
                                        <col class="dg-pct"/>
                                        <col class="dg-gb"/>
                                        <col class="dg-last-ten"/>
                                        <col class="dg-streak"/>
                                        <col class="dg-home"/>
                                        <col class="dg-away"/>
                                        <col class="dg-last-game"/>
                                        <col class="dg-next-game"/>
                                        <thead>
                                        <tr>
                                            <th tabindex="0" index="0" class="dg-team-short"></th>
                                            <th tabindex="0" index="1" class="dg-w centered">W</th>
                                            <th tabindex="0" index="2" class="dg-l centered">L</th>
                                            <th tabindex="0" index="3" class="dg-pct centered">PCT</th>
                                            <th tabindex="0" index="4" class="dg-gb centered">GB</th>
                                            <th tabindex="0" index="5" class="dg-last-ten centered">L10</th>
                                            <th tabindex="0" index="6" class="dg-streak centered">STRK</th>
                                            <th tabindex="0" index="7" class="dg-home centered">HOME</th>
                                            <th tabindex="0" index="8" class="dg-away centered">AWAY</th>
                                            <th tabindex="0" index="9" class="dg-last-game centered">LAST GAME</th>
                                            <th tabindex="0" index="10" class="dg-next-game centered">NEXT GAME</th>
                                        </tr>
                                        </thead>
                                        <tbody tabindex="-1" id="standingsTableBodyAL">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="standingsNL" style="opacity: 1;">
                                <div id="nlHeadline">
                                    <h1>&nbsp;</h1>
                                </div>
                                <div id="standingsTableNL" class="homeSpriteBG">
                                    <table cellspacing="0" class="stats_table data_grid">
                                        <col class="dg-team-short"/>
                                        <col class="dg-w"/>
                                        <col class="dg-l"/>
                                        <col class="dg-pct"/>
                                        <col class="dg-gb"/>
                                        <col class="dg-last-ten"/>
                                        <col class="dg-streak"/>
                                        <col class="dg-home"/>
                                        <col class="dg-away"/>
                                        <col class="dg-last-game"/>
                                        <col class="dg-next-game"/>
                                        <thead>
                                        <tr>
                                            <th tabindex="0" index="0" class="dg-team-short"></th>
                                            <th tabindex="0" index="1" class="dg-w centered">W</th>
                                            <th tabindex="0" index="2" class="dg-l centered">L</th>
                                            <th tabindex="0" index="3" class="dg-pct centered">PCT</th>
                                            <th tabindex="0" index="4" class="dg-gb centered">GB</th>
                                            <th tabindex="0" index="5" class="dg-last-ten centered">L10</th>
                                            <th tabindex="0" index="6" class="dg-streak centered">STRK</th>
                                            <th tabindex="0" index="7" class="dg-home centered">HOME</th>
                                            <th tabindex="0" index="8" class="dg-away centered">AWAY</th>
                                            <th tabindex="0" index="9" class="dg-last-game centered">LAST GAME</th>
                                            <th tabindex="0" index="10" class="dg-next-game centered">NEXT GAME</th>
                                        </tr>
                                        </thead>
                                        <tbody tabindex="-1" id="standingsTableBodyNL">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!--/.Card-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!-- MDB core JavaScript -->
<script src="/js/mdb.min.js"></script>
<!-- PerfectGameHome JavaScript -->
<script src="/js/perfectGameApp.js"></script>
<script src="/js/perfectGameHome.js"></script>
<script src="/js/standings.js"></script>
</body>

</html>