<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>PGBS | Teams</title>
</head>
<body>
<div class="container">
    <header th:replace="layout :: site-header" />
    <div class="jumbotron">
        <h2>Perfect Game Baseball</h2>
        <p class="lead">Team Stats Coming Soon!</p>
    </div>

    <footer th:replace="layout :: site-footer" />
</div>

<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfectGameApp.js"></script>
</body>
</html>